@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #281875;
}

.secondary{
  color:#03012C;
}

.polish{
  color:white;
}

.unpolish{
  color:white;
  opacity: 0.5;
}

.wrong{
  background-color:red;
}

.accent{
  color:gold;
}

.toggle{
  background-color: rgba(0,0,0,0.6);
}