@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #281875;
}

.secondary{
  color:#03012C;
}

.accent{
  color:gold;
}